@page
@model tomware.Docson.Pages.DefinitionsDetailModel
@{
  ViewData["Title"] = "Definitions Detail";
}

<a asp-page="./Index">Back</a>
<table class="table">
  <tbody>
    <tr>
      <td>Name</td>
      <td>@Model.Defintion.Name</td>
    </tr>
    <tr>
      <td>Version</td>
      <td>@Model.Defintion.Version</td>
    </tr>
    <tr>
      <td>Producer</td>
      <td>@Model.Defintion.Producer</td>
    </tr>
    <tr>
      <td>Tags</td>
      <td>@Model.Defintion.NormalizedTags</td>
    </tr>
    <tr>
      <td>Message type</td>
      <td><pre>@Model.Defintion.Message["properties"]</pre></td>
    </tr>
    <tr>
      <td>Sample instance</td>
      <td><pre>@Model.Defintion.Sample</pre></td>
    </tr>
  </tbody>
</table>