@page
@model tomware.Docson.Pages.DefinitionsModel
@{
  ViewData["Title"] = "Definitions";
}

<form asp-page="index">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Version</th>
        <th>Producer</th>
        <th>Tags</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>
          <select asp-for="Name" asp-items="Model.Names" onchange="DoPostBack();">
            <option value=""></option>
          </select>
        </th>
        <th>
          <select asp-for="Version" asp-items="Model.Versions" onchange="DoPostBack();">
            <option value=""></option>
          </select>
        </th>
        <th>
          <select asp-for="Producer" asp-items="Model.Producers" onchange="DoPostBack();">
            <option value=""></option>
          </select>
        </th>
        <th>
          <select asp-for="Tag" asp-items="Model.Tags" onchange="DoPostBack();">
            <option value=""></option>
          </select>
        </th>
        <th><input type="submit" value="Filter" /></th>
      </tr>
      @foreach (var definition in Model.Defintions)
      {
        <tr>
          <td>@definition.Name</td>
          <td>@definition.Version</td>
          <td>@definition.Producer</td>
          <td>@definition.NormalizedTags</td>
          <td>
            <a asp-page="./Detail" asp-route-id="@definition.Key">detail</a>
          </td>
        </tr>
      }
    </tbody>
  </table>
</form>